<div class="panel-heading">
    <p><a href="{{ path('contactlist_groups_showall') }}">Groups</a></p>
</div>
<div class="panel-body">
    <ol class="list-inline">
        {% for group in groups %}
            <li class="list-group-item"><a href="{{ path('contactlist_groups_showbyid', {'id': group.id}) }}">{{ group.name }}</a></li>
        {% else %}
            <p>No Groups found</p>
        {% endfor %}
    </ol>
</div>