{% extends "::base.html.twig" %}
{% block title %}Group List{% endblock %}
{% block body %}
    <ol>Groups <a href="{{ path('contactlist_groups_form') }}">create</a>
        {% for group in groups %}
            <li><a href="{{ path('contactlist_groups_showbyid', {'id': group.id}) }}">{{ group.name }}</a> -/ <a href="{{ path('contactlist_groups_delete', {'id': group.id}) }}">delete</a>
            </li>
            {% else %}
                <p>No Groups found</p>
        {% endfor %}
    </ol>
{% endblock %}