<div class="panel-heading">
    <p>Contacts in Group</p>
</div>
{% for contact in contacts %}
    <div class="panel-body">
        <p>Name: {{ contact.name }}</p>
    </div>
{% else %}
    <div class="panel-body">
        <p>No contacts found</p>
    </div>
{% endfor %}